@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%; /* 10px */

	--green: #c5f82a;
	--white: #ffffff;
	--grey-700: #333333;
	--grey-800: #1f1f1f;
	--grey-900: #141414;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
	color: var(--white);
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	height: 100%;
	width: 100%;
	background-color: var(--grey-900);
	gap: 1rem;
}

.box {
	min-width: 75%;
	padding: 2rem;
	background-color: var(--grey-800);
	border-radius: 1.5rem;

	gap: 2rem;
}

.avatar {
	border-radius: 50%;
	width: 5rem;
	margin-bottom: 1rem;
}

.name {
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 0.6rem;
}

.country {
	font-size: 1rem;
	font-weight: 600;
	color: var(--green);
	margin-bottom: 1.8rem;
}

.bio {
	font-size: 1rem;
	font-weight: 400;
}

.section {
	width: 100%;
}

.links li:not(:last-child) {
	margin-bottom: 0.7rem;
}

.link {
	display: block;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--white);
	text-align: center;
	padding: 0.8rem 1.6rem;
	border-radius: 0.5rem;
	background-color: var(--grey-700);
}

.link:hover {
	color: var(--grey-900);
	background-color: var(--green);
	transition: 0.2s ease-in-out;
}

.attribution p {
	font-size: 1.2rem;
}

.attribution p a {
	color: var(--green);
}

.attribution p a:hover {
	opacity: 0.7;
}

@media (min-width: 375px) {
	.box {
		min-width: 65%;
	}

	.avatar {
		width: 8rem;
	}

	.name {
		font-size: 1.8rem;
	}

	.country,
	.bio {
		font-size: 1rem;
	}

	.links li:not(:last-child) {
		margin-bottom: 1.2rem;
	}
}

@media (min-width: 480px) {
	.box {
		min-width: 55%;
	}
}

@media (min-width: 768px) {
	.box {
		min-width: 45%;
	}

	.avatar {
		width: 13rem;
	}

	.name {
		font-size: 2.3rem;
	}

	.country,
	.bio {
		font-size: 1.5rem;
	}

	.link {
		font-size: 1.8rem;
		padding: 1rem 2rem;
	}

	.links li:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	.attribution p {
		font-size: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.box {
		min-width: 25%;
	}
}

@media (min-width: 1440px) {
	.box {
		min-width: 25%;
	}
}
